# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads (IMPORTANT)
uploads/

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Misc
*.sqlite3

# ==========================
# TEST FILES
# ==========================
test.py
*/test.py
test_*.py

# ==========================
# METRIC / EVALUATION FILES
# ==========================
metric_cal.py

# ==========================
# DATASETS (HEAVY FILES)
# ==========================
dataset/

# ==========================
# OUTPUT FILES (RESULTS)
# ==========================
output/
uploads/output/

# ==========================
# TEST FILES INSIDE UPLOADS
# ==========================
uploads/test.py
uploads/test*