# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads (IMPORTANT)
uploads/

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Misc
*.sqlite3